<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wheather Application</title>
    <link rel="stylesheet" href="css/404page.css">
    <link rel="shortcut icon" href="images/logo.png" type="image/png">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- Error Page -->
<div class="error">
    <div class="container-floud">
        <div class="col-xs-12 ground-color text-center">
            <div class="container-error-404">
                <div class="clip">
                    <div class="shadow"><span class="digit thirdDigit">4</span></div>
                </div>
                <div class="clip">
                    <div class="shadow"><span class="digit secondDigit">0</span></div>
                </div>
                <div class="clip">
                    <div class="shadow"><span class="digit firstDigit">4</span></div>
                </div>
                <div class="msg">OH!<span class="triangle"></span></div>
            </div>
            <h2 class="h1">{{errorMsg}}</h2>
            <a class="homebutton" href="/"><button><i class="fas fa-arrow-left"></i> Go To Home</button></a>
        </div>
    </div>
</div>
<!-- Error Page -->

<script src="js/404page.js"></script>
</body>
</html>