{{>header}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.jpg" alt="pravint" class="img-fluid" title="pravin tidake">
                        </figure>
                    </div>
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I Am A <span class="text_clr">MERN Stack Developer</span> Youtuber and Software Engineer.</h1>
                        <a href="https://www.youtube.com/channel/UCTxeijvT47BNA3IvMJLHJYg" target="_pravint"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}